@import './mixins.scss';

html {
  font-size: 62.5%;

  body {
    box-sizing: border-box;
    @include font-size(1.8);
    font-family: 'Whitney-Bold', Whitney, sans-serif;
  }
}

.app {
  @include flexbox();
  @include align-content(stretch);
  height: 100vh;

  .app__left-col {
    background-color: #e6e6e6;
    box-shadow: 9px 0px 9px -9px rgba(0, 0, 0, 0.15);
    @include flex(1 1 40%);
    height: 100%;
    overflow: scroll;
  }

  .app__right-col {
    @include flex(1 1 60%);
  }
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #e6e6e6;
}
*::-webkit-scrollbar-thumb {
  background-color: #404040;
  /* border-radius: 27px; */
  border: 0px solid #e6e6e6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
*::-webkit-scrollbar-button:vertical:increment {
  background-color: transparent;
  border: none;
}
*::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}
*::-webkit-scrollbar-corner {
  display: none;
}
